<header>
    <nav>
        {{#unless isLoggedIn}}
        <a href="/"><img src="/images/home.png" class="icon"></a>
        {{/unless}}
        <a href="/About"><img src="/images/about.png" class="icon"></a>
        <a href="/Contact"><img src="/images/contact.png" class="icon"></a>
        {{#unless isLoggedIn}}
        <a href="/auth/signup" class="right"><img src="/images/signup.png" class="icon"></a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a href="/auth/log-out" class="right"><img src="/images/logout.png" alt="Log out" class="icon"></a>
        {{/if}}
    </nav>
</header>
    
