<h1>About</h1>
<h2>Who we are</h2>
<div>We are a sustainable company, commited to offering fahsionable clothes that do not hurt living creatures nor the environment!</div>


<h2>What we do</h2>
<div>We source our material directly from local farmers and arrange for our products to be crafted locally to limit energy comsumption.</div>
