<div class="main">
    <div class="flex-container contact">
        <h1>Contact</h1>
        <h2>Office location</h2>
        <div>Adress: 
            <ul>
                <li>Street number: 87</li>
                <li>Street name: Philosophers's Path</li>
                <li>City: Kyoto</li>
                <li>Zipcode: 190-0098</li>
                <li>Country: Japan</li>
            </ul>
        </div>
        <div>Phone number: 0123456789</div>
        <div>Email: info@company.com</div>
        
        <h2>Instagram</h2>
        <a href=""><button>Follow us!</button></a>
</div>
</div>