<h1>Contact</h1>

<h2>Office location</h2>
<div>Adress: 
    <ul>
        <li>Street number: 87</li>
        <li>Street name: Philosophers's Path</li>
        <li>City: Naughty town</li>
        <li>Zipcode: 11797</li>
        <li>Country: Happy land</li>
    </ul>
</div>
<div>Phone number: 0123456789</div>
<div>Email: info@company.com</div>

<h2>Instagram</h2>
<div>Follow-us on instagram!</div>
<a href="">Click here!</a>