<div class="main">
    {{> flashmessages}}
    <form method="post" action="/auth/log-in" id="log-in-form">
        <div class="form-div">
            <label for="companyEmail" class="login-label-input">Email</label>
            <input type="text" name="companyEmail" placeholder="insert email" value="tomking@company.com"
                class="login-label-input">
        </div>
        <div class="form-div">
            <label for="password" class="login-label-input">Password</label>
            <input type="password" name="password" placeholder="insert password" value="1234" class="login-label-input">
        </div>
        <button id="login-btn">Log in</button>
    </form>
</div>