<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script type="module" src="./../public/javascripts/dom.js"></script> cannot load for now -->
  </head>
  <body>
    {{> navbar}}
    {{> options}}
    {{{body}}}
  </body>
</html>
