<div class="main">
    <form method="post" action="/head/series" id="new-serie-container">
        <label for="season">Season</label>
        <select name="season">
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
        </select>
        <label for="year">Year</label>
        <input type="text" name="year">
        <button>Add new collection</button>
    </form>

    <div id="series-container">
        <table id="series-table">
            <tr>
                <th>Season</th>
                <th>Year</th>
                <th>Products</th>
                <th>Delete</th>
            </tr>
            {{#each series}}
            <tr>
                <td>{{this.season}}</td>
                <td>{{this.year}}</td>
                <td><a href="/staff/series/{{this._id}}"><img src="/images/products.png" alt="Products"
                            class="icon"></a></td>
                <td><a href="/head/series/{{this._id}}"><img src="/images/delete.png" alt="Delete" class="icon"></a>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="main">