<nav>
{{> navbarmain}}
<a href="/head">My page</a>
</nav>

<div>
    <div>Full name: {{user.firstName}} {{user.lastName}}</div>
    <form method="post" action="/head/manage-rights/{{user._id}}">
    <label for="role">Role</label>
    <select name="role">
        <option value="Staff">Staff</option>
        <option value="Editor">Editor</option>
    </select>
    <label for="team">Team</label>
    <select name="team">
        <option value="Upcoming">Upcoming season</option>
        <option value="Current">Current season</option>
        <option value="Past">Past seasons</option>
        <option value="Global">Global</option>
        <option value="None">None</option>
    </select>
    <button>edit</button>
    </form>
</div>