<div class="main">
    <form method="post" action="/auth/signup" id="sign-up-container">
    <div></div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName">
        <div></div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName">
        <div></div>
        <label for="companyEmail">Company Email</label>
        <input type="text" name="companyEmail">
        <div></div>
        <label for="phoneNUmber">Phone Number</label>
        <input type="string" name="phoneNumber">
        <div></div>
        <label for="password">Password</label>
        <input type="password" name="password">
        <div></div>
        <button>Register</button>
    </form>
</div>