<div id="sign-up-container">
    <form action="/auth/signup">
        <label for="firstName">first name</label>
        <input type="text" name="firstName">
        <label for="lastName">last name</label>
        <input type="text" name="lastName">
        <label for="companyEmail">compamy email</label>
        <input type="text" name="companyEmail">
        <label for="phoneNUmber">phone number</label>
        <input type="number" name="phoneNumber">
        <label for="password">password</label>
        <input type="password" name="password">
    </form>
</div>