<nav>
    {{> navbarmain}}
</nav>


<div id="sign-up-container">
    <form method="post" action="/auth/signup">
        <label for="firstName">first name</label>
        <input type="text" name="firstName">
        <label for="lastName">last name</label>
        <input type="text" name="lastName">
        <label for="companyEmail">company email</label>
        <input type="text" name="companyEmail">
        <label for="phoneNUmber">phone number</label>
        <input type="string" name="phoneNumber">
        <label for="password">password</label>
        <input type="password" name="password">
        <button>register</button>
    </form>
</div>